<th:block th:fragment="headerFragment">












	<!-- 01 -->	
	<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
		<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
			<i class="ti ti-menu-2 ti-sm"></i>
		</a>
	</div>
    <!-- /01 -->

	<!-- 02 -->
	<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- User Dropdown -->	
		
		
		

		<!-- 03-->	
		<ul class="navbar-nav flex-row align-items-center ms-auto">
			<!-- User Dropdown -->
			<li class="nav-item navbar-dropdown dropdown-user dropdown">
				<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
					<div class="avatar avatar-online">
						<!-- <span class="avatar-initial rounded-circle bg-label-primary" th:text="${#strings.substring(auth.userName, 0, 1)}">U</span> -->
						<span class="avatar-initial rounded-circle bg-label-primary" 
						      th:text="${auth != null && auth.userName != null ? #strings.substring(auth.userName, 0, 1) : 'U'}">U</span>
					</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li>
						<a class="dropdown-item" href="#">
							<div class="d-flex">
								<div class="flex-shrink-0 me-3">
									<div class="avatar avatar-online">
										<!-- <span class="avatar-initial rounded-circle bg-label-primary" th:text="${#strings.substring(auth.userName, 0, 1)}">U</span> -->
										<span class="avatar-initial rounded-circle bg-label-primary" 
										      th:text="${auth != null && auth.userName != null ? #strings.substring(auth.userName, 0, 1) : 'U'}">U</span>
									</div>
								</div>
								<div class="flex-grow-1">
									<!--<span class="fw-medium d-block" th:text="${auth.userName}">사용자</span>-->
									<span class="fw-medium d-block" th:text="${auth != null && auth.userName != null ? auth.userName : '사용자'}">사용자</span>
									<small class="text-muted">관리자</small>
								</div>
							</div>
						</a>
					</li>
					<li>
						<div class="dropdown-divider"></div>
					</li>
					<li>
						<a class="dropdown-item" href="#">
							<i class="ti ti-user-check me-2 ti-sm"></i>
							<span class="align-middle">내 프로필</span>
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">
							<i class="ti ti-settings me-2 ti-sm"></i>
							<span class="align-middle">설정</span>
						</a>
					</li>
					<li>
						<div class="dropdown-divider"></div>
					</li>
					<li>
						<a class="dropdown-item" th:href="@{/logout}">
							<i class="ti ti-logout me-2 ti-sm"></i>
							<span class="align-middle">로그아웃</span>
						</a>
					</li>
				</ul>
			</li>
			
		</ul>
	</div>

</th:block>